// Fuentes
$fuente_1: 'Roboto', sans-serif;
$fuente_2: 'Source Sans Pro', sans-serif;


// Media queris
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1280px;
$desktopXXL: 1600px;

// Colores
$rojo: #DF1010;
$verde: #2ee712;
$verdeMilitar: #403212;
$verdeOscuro: #169B00;
$celeste: #00b9aa;
$amarillo: #f8f32b;
$beige: #e4d389;
$naranja: #dd5800;
$azul: #16193d;
$azulAmz: #232F3E;
$gris: #3a3a3a;
$grisClaro: #797979;
$grisOscuro: #090909;
$blanco: #FFFFFF;
$blancoClaro: #cfcfcf;
$negro: #000000;
$negro2: #1c1c1c;
$oro: #efb810;

// Unidades